<div class='row'>
	<div class='col-sm-6 col-sm-offset-3'>
		<h1 class='text-center'>Create Your profile</h1>
		<p class='text-center'>Be a part of the Jobba Community of search list jobs</p>
		<%= render 'form' %>
	</div>
</div>
