<div class='jumbotron text-center'>
	<h1>Job Board Application</h1>
	<h3>Provides search capabilty for job seekers</h3>
</div>

<div class='row text-center'>
	<div class='col-sm-6'>
		<div class='well'>
			<h2>Standard</h2>
			<h4>Sign up for free and get basic and standard access to the community</h4>
			<%= link_to "Sign up free", new_user_registration_path(plan: @standard_plan.name), class: 'btn btn-info btn-lg btn-block' %>
		</div>
	</div>
	<div class='col-sm-6'>
		<div class='well'>
			<h2>Pro Membership</h2>
			<h4>Sign up for the pro account @ $15/month and get access to advance features and contact information</h4>
			<%= link_to "Sign up for Pro", new_user_registration_path(plan: @pro_plan.name), class: 'btn btn-primary btn-lg btn-block' %>
		</div>
	</div>
</div>