 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 .navbar{
 		// Gradient from http://uigradients.com/#
	  background: -webkit-linear-gradient(90deg, #870000 10%, #190A05 90%); /* Chrome 10+, Saf5.1+ */
	  background:    -moz-linear-gradient(90deg, #870000 10%, #190A05 90%); /* FF3.6+ */
	  background:     -ms-linear-gradient(90deg, #870000 10%, #190A05 90%); /* IE10 */
	  background:      -o-linear-gradient(90deg, #870000 10%, #190A05 90%); /* Opera 11.10+ */
	  background:         linear-gradient(90deg, #870000 10%, #190A05 90%); /* W3C */
        
 }
 .jumbotron{
 		color: #ddd;	 	
	  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
	  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
	  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
	  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
	  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
        
 }

 .alert-notice{
 	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
 }

 .job-title-icon{
 	width: 30px;
 	height: 30px;
 	border: 2px solid #337ab7;
 	display: inline-block;
 	border-radius: 5px;
 	background-color: #337ab7;
 	color: #ddd;
 	margin-right: 3px;
 	text-align: center;

 }